#bg{
position:absolute;
left:0px;
top:0px;
width:800px;
heigth:500px;
}
#under{
position:absolute;
left:410px;
top:350px;
width:360px;
heigth:100px;
text-align:justify;
font-size:90%;
user-select:none;
}
#text{
position:absolute;
left:410px;
top:65px;
width:360px;
heigth:430px;
text-align:justify;
text-indent:30px;
font-size:90%;
user-select:none;
}
#text_full{
position:absolute;
left:410px;
top:10px;
width:360px;
heigth:430px;
text-align:justify;
text-indent:30px;
font-size:90%;
user-select:none;
}
#header_large{
position:absolute;
left:320px;
top:20px;
font-family:CyrillicGoth;
font-size:250%;
user-select:none;
}
#header{
position:absolute;
left:260px;
top:10px;
font-family:CyrillicGoth;
font-size:250%;
user-select:none;
}
#header_white{
position:absolute;
left:260px;
top:10px;
font-family:CyrillicGoth;
font-size:250%;
color:#ffffff;
user-select:none;
}
#header_red{
position:absolute;
left:300px;
top:10px;
font-family:CyrillicGoth;
font-size:250%;
color:#960018;
user-select:none;
}
#header_right{
position:absolute;
left:450px;
top:1px;
font-family:CyrillicGoth;
font-size:250%;
user-select:none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
